html, body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 600;
    line-height: 1.1;
}

h1 {
    font-size: 2rem
}

h2 {
    font-size: 1.6rem
}

h3 {
    font-size: 1.2rem
}

p {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 1rem;
}

header .logo {
    height: 1.75rem;
}

.container {
    max-width: 800px;
}

.hero-image {
    height: 450px;
}